<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Profile</title>
</head>
<body>

<h1>Authority Profile</h1>

<form method="post">
     {% csrf_token %}
    <label for="department">Department Name</label><br>
    <input type="text" id="department" name="DepartmentName" value="{{ val.DepartmentName }}"><br><br>

    <label for="email">Email</label><br>
    <input type="email" id="email" name="Email" value="{{ val.Email}}"><br><br>

    <label for="head">Head Name</label><br>
    <input type="text" id="head" name="HeadName" value="{{ val.HeadName }}"><br><br>

    <label for="address">Address</label><br>
    <textarea id="address" name="Address" rows="3" cols="40"> {{ val.Address }}</textarea><br><br>

    <label for="contact">Contact Info</label><br>
    <input type="text" id="contact" name="ContactInfo" value="{{ val.ContactInfo}}"><br><br>

    <input type="submit" value="Update Profile">
</form>

<br>
</body>
</html>
