<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <h1>Add Department</h1>
    <form method="post" action="">
        {% csrf_token %}
    <label>Department Name</label>
    <input type="text" name="department_name"><br><br>

    <label>Address</label>
    <textarea name="address" rows="5" cols="20"></textarea><br><br>

    <label>Contact Info</label>
    <input type="text" name="contact"><br><br>

    <label>Email</label>
    <input type="text" name="Email"><br><br>

    <label>Head Name</label>
    <input type="text" name="head"><br><br>

    <label>Password</label>
    <input type="password" name="password"><br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>