<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/manage-department">Add and Manage Authority</a><br>
    <a href="/manage-users">User Management</a><br>
    <a href="/assign-works">Assign Work to Authority</a><br>
    <a href="/viewcomplaints">Dashboard</a><br>
    <a href="/feedbackview">View Feedback</a><br>
    <a href="/send-notifications">Notifications</a><br>
     <a href="/notificationview">View Notifications</a><br>
</body>
</html>