<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Department</title>
</head>
<body>
    <h1>Delete Department</h1>
    <form>
        <label for="Department Name">Department name</label>
        <input type="text"><br><br>
        <label for="Address">Address</label>
        <textarea rows="5" cols="20"></textarea><br><br><br>
        <label for="Contact info">Contact info</label>
        <input type="text"><br><br>
        <label for="Head Name">Head Name</label>
        <input type="text"><br><br>
        <label for="Password">Password</label>
        <input type="password"><br><br>
        <button>Delete</button>
        
    </form>
</body>
</html>