<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send notifications</title>
</head>
<body>
    <form>
        <label for="recipient-type">Recipient Type</label>
        <select>
            <option>User</option>
            <option>Department</option>
            <option>All users</option>
            <option>All departments</option>
        </select><br><br>
        
        <label for="subject">Subject</label>
        <input type="text"><br><br>
        <label for="message">Message</label>
        <textarea cols="20" rows="5"></textarea><br><br>
        <button>Send Now</button>
        <button>Reset</button>
    </form>
</body>
</html>