<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work assign</title>
</head>
<body>
    <h1>Assign Work</h1>
    <form method="post">
    <label>Priority</label>
    <input type="text" name="priority" value="{{ val.Priority }}"><br><br>
    <label>Category</label>
    <input type="text" name="category" value="{{ val.Category }}"><br><br>
    <label>End date</label>
    <input type="date" name="deadline"><br><br>
    <button type="submit">Assign</button>
</form>

</body>
</html>